DATABASE_URL="postgresql://postgres:postgres@localhost:5432/web_acceso?schema=public"
SESSION_SECRET="change-this-super-secret-value"

ADMIN_USERNAME="admin"
ADMIN_PASSWORD="admin123"

GUARD_USERNAME="guard"
GUARD_PASSWORD="guard123"